# Ansible Secrets
*/vault.yml
*vault.yml
vault.yml
.vault_pass
secret/
*/playbooks/secret/

# Environment Files
.env
.env.local
stack.env
**/.env
**/stack.env

# Keep .env.example
!*.env.example

# Local Data
*.db
*.sqlite
**/*.db
**/data/

# General System Junk
.DS_Store
Thumbs.db
*.log

# IDE/Text Editor
.nvim/
