# Managed by Ansible

title: "nottyxton/homepage"
favicon: "https://www.nottyxton.net/favicon-32x32.png"
message: "Good morning me, did you wake up feeling good?"

theme: dark
color: neutral

target: _self
headerStyle: boxed
statusStyle: dot

hideVersion: true
disableCollapse: true

hideErrors: true

useEqualHeights: true

background:
  image: https://w.wallhaven.cc/full/ex/wallhaven-exwvpr.jpg
  blur: sm
  saturate: 75
  brightness: 25
  opacity: 25

layout:
  # --- Links ---
  Personal:
    style: column
  Entertainment:
    style: column
  Gaming:
    style: column
  DevOps:
    style: column

  # --- Infrastructure ---
  Infrastructure:
    style: row
    columns: 4

  # --- Containers ---
  Media:
    style: row
    columns: 3
  Arr Stack:
    style: row
    columns: 3
  Access & Security:
    style: column
  Network:
    style: column
  Monitoring:
    style: column
