UPLOAD_LOCATION=/mount/location
DB_DATA_LOCATION=/your/database/location
IMMICH_VERSION=desiredVer
DB_PASSWORD=your_db_password
DB_USERNAME=your_db_user
DB_DATABASE_NAME=your_db_name
TZ=your_timezone
MACHINE_LEARNING_EAGER_STARTUP=t/f
IMMICH_MACHINE_LEARNING_URL=http://insert_url_here:0000
